LOGIN_TRUE=Bienvenido al sistema!
LOGIN_FALSE=Usuario o clave incorrectos
OPER_NO=No se pudo realizar la operación
OPER_OK=Operación realizada con éxito
REPASS_NO=La clave nueva y la repetida deben ser iguales
PASS_NO=La clave nueva no puede estar vacia
PASS_OK=La clave fue cambiada con éxito
USER_NO=Usuario o clave incorrectos
USER_ACT=No puede modificar un registro de otro usuario
USER_NEW=El usuario debe ser el que ingresó al sistema
USER_EXISTE=Ya existe otro usuario con ese Username
DELETE=¿Desea realmente eliminar el registro seleccionado?
DATOS_NO=Debe ingresar todos los datos
TITLE_PDF=Usuarios del Sistema
ARCH_SAVE=Se generó el archivo: 
ARCH_OPEN=¿Desea abrirlo ahora?
PROY_USR=Primero debe guardar el proyecto creado, luego asignar usuarios

